@model ProductListViewModel

@if (Model.Products == null || Model.Products.Count == 0)
{
	<span class="alert alert-info">No Product Exist</span>
}
else
{
	<div class="container mt-4">
		<div class="row">
			<div class="col-md-6">
				<div class="list-group">
					<a href="/product/index?category=@Model.CurrentCategory&filterName=a-z&filterPrice=@Model.FilterByPrice" class="list-group-item list-group-item-action">
						A-Z
					</a>
					<a href="/product/index?category=@Model.CurrentCategory&filterName=z-a&filterPrice=@Model.FilterByPrice" class="list-group-item list-group-item-action">
						Z-A
					</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="list-group">
					<a href="/product/index?category=@Model.CurrentCategory&filterName=@Model.FilterByName&filterPrice=lower" class="list-group-item list-group-item-action">
						First Lower
					</a>
					<a href="/product/index?category=@Model.CurrentCategory&filterName=@Model.FilterByName&filterPrice=higher" class="list-group-item list-group-item-action">
						First Higher
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="container mt-4">
		<input type="text" id="searchInput" class="form-control" placeholder="Search products..." />
		<input type="hidden" id="currentCategory" value="@Model.CurrentCategory" />

		<table class="table">
			<thead>
				<tr>
					<th>Product Name</th>
					<th>Unit Price</th>
					<th>UnitsInStock</th>
					<th></th>
				</tr>
			</thead>
			<tbody id="productList">
				@Html.Partial("_ProductListPartial", Model.Products)
			</tbody>
		</table>

		<list-pager current-category="@Model.CurrentCategory"
					current-page="@Model.CurrentPage"
					page-count="@Model.PageCount"
					asp-controller="product"
					asp-action="index"
					page-size="@Model.PageSize"></list-pager>
	</div>
}